

:root {
    --main-title-color: #2E2F42;
    --primary-color:  #434455;
    --secondary-color: #FFFFFF;
    --accent-color: #4D5AE5;
}


body{
     font-family: Roboto, sans-serif;
     background-color:var(--secondary-color) ;
}
.list {
    list-style: none;
}    
.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p 
{
        margin-top: 0;
        margin-bottom: 0;
        text-decoration: none;
}

ul,
ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

}

img {
        display: block;
        max-width: 100%;
        height: auto;
}
button {
        cursor: pointer;
}
address {
        font-style: normal;
}

.section {
        padding-top: 120px;
        padding-bottom: 120px;
}
.container {
                width: 1158px;
                padding-left: 15px;
                padding-right: 15px;
                margin: 0 auto;
}


   .visually-hidden {
           position: absolute;
           width: 1px;
           height: 1px;
           margin: -1px;
           border: 0;
           padding: 0;
           white-space: nowrap;
           clip-path: inset(100%);
           clip: rect(0 0 0 0);
           overflow: hidden;
   }


.header-section {
        padding-top: 24px;
                padding-bottom: 24px;
                margin: 0 auto;
        border-bottom: 1px solid #ECECEC;


}
     .header-navigation {
        display: flex;
        
                align-items: center;
                justify-content: space-between;
     }

     

.header-container {
        width: 1158px;
                padding-left: 15px;
                padding-right: 15px;
                margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
}
.header-list {
        display: flex;
        gap: 40px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        margin-left: auto;


}

.header {
        background-color: var(--secondary-color);
        border-bottom: 1px solid #E7E9FC;
                background: var(--WHITE, #FFF);
                box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                 0px 1px 1px rgba(46, 47, 66, 0.16),
                  0px 1px 6px rgba(46, 47, 66, 0.08);

        
                margin-right: 76px;
                margin-left: auto;
        }

.header-logo-web  {
        color: var(--accent-color);
                font-family: Raleway, sans-serif;
                
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.16;
        
                letter-spacing: 0.03em;
                text-transform: uppercase;
               
} 
                
.logo-web {
        

        color: var(--accent-color);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-studio {
    color: var(--main-title-color);
    margin-right: 76px;
}

.header-link {
    
        font-size: 16px;
        
        font-weight: 500;
        line-height: 1.5;
        
        letter-spacing: 0.02em;
        color: var(--main-title-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 0;
}




.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
        position: relative;
        display: block;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.current::after {
                position: absolute;
                content: "";
                display: block;
                left: 0;
                width: 100%;
                height: 4px;
                
                bottom: -1px;
                border-radius: 2px;
                background-color:  #404bbf;
                

}
 



.header-list :hover,
.header-list :focus {
     color: var(--accent-color);

}

.header-mail-tel {
                color: var(--primary-color);
                
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                
                        letter-spacing: 0.02em;
                        column-gap: 40px;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);




}
 
        


.header-mail-tel:hover,
.header-mail-tel:focus
 {
     color: var(--accent-color);
}



.hero {
        text-align: center;
        max-width: 1440px;
        
        flex-shrink: 0;
        margin-left:auto;
        margin-right: auto;
        padding-top: 188px;
        padding-bottom: 188px;
       
        background-color: var(--main-title-color);


        background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/peopleoffice.jpg);    
                
                
                
                
        
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero-title {

        margin-top: 0;
                
                margin-bottom: 48px;
    
        font-size: 56px;
        
        font-weight: 700;
        line-height: 1.07;
        
        letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.hero-btn {
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        
        letter-spacing: 0.04em;
        color:var(--secondary-color) ;
        background-color:var(--accent-color) ;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        margin: auto;

                margin-top: 48px;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 32px;
                padding-left: 32px;

                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
        
             background-color: #404BBF;
             border-color: rgba(64, 75, 191, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


        
.hero-after-list {

        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

        
        column-gap: 24px;



}
.hero-after {
            padding-top: 120px;
            padding-bottom: 120px;
}
.hero-after-item {
        width: calc((100% - 72px) /4);
}
.hero-after-icon {
        width: 64px;
        height: 64px;
}
        
        
.heroafter-icon-wrapper {

                height: 112px;

                border-radius: 4px;
                border: 1px solid #8E8F99;
                background: #F4F4FD;
                margin-bottom: 8px;


                display: flex;
                align-items: center;
                justify-content: center;
        }

.hero-after-title {
    
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        margin-bottom: 10px;
}

.hero-after-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        
        letter-spacing: 0.02em;
        color: var(--primary-color);

}

.team {
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
       
}

.team-list {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 24px;
}

.team-item {
        
    background-color: var(--secondary-color);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
align-content: center;


}
.team-title {
    
        
        font-size: 36px;
    
        font-weight: 700;
        line-height: 1.11;
        
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--main-title-color);
        text-align: center;
        margin-bottom: 72px;

}
.team-item-title {
    
        
    
        font-size: 20px;
        
        font-weight: 500;
        line-height: 1.2;
        
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        
        text-align: center;
        
        
        
      
        text-decoration: none;

}
.team-item-text {
    
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      
        letter-spacing: 0.02em;
        color: var(--primary-color);
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
        text-decoration: none;

}

.team-container {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
        
        padding-top: 32px;
        padding-bottom: 32px;
        
}


.team-soc-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
}
.team-soc-item {
        width: 40px;
        height: 40px;
     
}


        
.team-soc-link {
        display: flex;
                align-items: center;
                justify-content: center;
        width: 100%;
        height: 100%;
        
        
        border-radius: 50%;
        border: 1px solid rgba(77, 90, 229, 1);
        border-color: rgba(77, 90, 229, 1);
                
        
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.team-soc-icon {
        fill: #F4F4FD;
}
.team-soc-link:hover,
.team-soc-link:focus
 {
        background-color: #404BBF;
       
}

.portfolio {

        padding-top: 120px;
        padding-bottom: 120px;
}


.portfolio-title {
       
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--main-title-color);
        text-align: center;
        margin-bottom: 72px;
        
}

.projects-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;


}
.projects-item {
       width: calc((100% - 48px)/ 3);

       margin-bottom: 48px;

       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.projects-item:hover,
.projects-item:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
     

.projects-item:hover .overlay,
.projects-item:focus .overlay {
      transform: translateY(0%);
}







.projects-item-title {
       font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        
        padding-top: 32px;
        text-decoration: none;

}
.projects-item-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
       
        letter-spacing: 0.02em;
        color: var(--primary-color);

        padding-bottom: 32px;
        margin-top: 8px;
       
        text-decoration: none;

}
.projects-list-img-wrapper {
        position: relative;
        overflow: hidden;
        border-top: none;
       
}


.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        
        letter-spacing: 0.02em;
        padding: 40px 32px;

        background-color:  #4D5AE5;
        overflow: auto;

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer {
    background-color: var(--main-title-color);
    padding-top: 100px;
    padding-bottom: 100px;


    
}


.footer-container {
      display: flex;
      align-items: baseline;
}

.footerlogo-box {
        margin-right: 120px;
}

.footer-logo-studio {
   
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.footer-text {
    
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        
        letter-spacing: 0.02em;
        color: #F4F4FD;
        margin-top: 16px;
}



                


.footer-soc-list-item {
        
        width: 40px;
        height: 40px;
        
        }

        
         
        
        .social-text {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: var(--secondary-color);
                margin-bottom: 16px;
        }
        
        .footer-soc-list-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        width: 100%;
                        height: 100%;
                        
                
                        border-radius: 50%;
                        
                        color: #F4F4FD;
                
                        background-color: #4D5AE5;
                        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        


.footer-soc-list-link:hover,
.footer-soc-list-link:focus {
      background-color: #31D0AA;
}

.footer-soc-icon {
        width: 24px;
        height: 24px;
       fill: #F4F4FD;
        
}



.footer-social-list {
        display: flex;
        gap: 16px;
        margin-top: 16px;
}